@using ClydesTakeoutPrototype.Models.OrderModels
@model ClydesTakeoutPrototype.Models.OrderModels.Order

@{
    ViewData["Title"] = "OrderDetails";
}

<style>
    ul {
        list-style-type: none;
        padding: 0;
    }

    li.item-list {
        background: white;
    }

    li:nth-child(odd).item-list {
        background: WhiteSmoke;
    }
</style>

<h1>Order Details</h1>

<h4>Order: @Model.ID</h4>
<h3>Customer: @Model.CustomerName</h3>
<hr />
<div class="row pt-4">
    <div class="col-4">
        <h4>Item</h4>
    </div>
    <div class="col-8">
        <h4>Special Instructions</h4>
    </div>
</div>
<hr />
<ul>
    @foreach (var item in Model.Items)
    {
        <li class="item-list">
            <div class="row">
                <div class="col-4">
                    <p>@item.Name</p>
                </div>
                <div class="col-8">
                    @{
                        if (item.SpecialInstructions == null)
                        {
                            <p>None</p>
                        }
                        else
                        {
                            <p>@item.SpecialInstructions</p>
                        }
                    }
                </div>
            </div>
        </li>
    }
</ul>

<div class="row">
    <div class="col-6">
        <a class="btn btn-outline-primary" asp-controller="Employee" asp-action="OrderReady" asp-route-id="@Model.ID">Order Ready</a>
        <a class="btn btn-outline-danger" asp-controller="Employee" asp-action="RejectOrder" asp-route-id="@Model.ID">Reject Order</a>
    </div>
    <div class="col-6">
        <a style="float: right" class="btn btn-outline-primary" asp-controller="Employee" asp-action="Index">Back</a>
    </div>
</div>


